 <footer>
     <div class="py-2">
         <div class="container text-center footer">
             <p class="text-muted mb-0 ">© Elbrus bootcamp. The Angry Beavers </p>
         </div>
     </div>
 </footer>
