{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Home</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/mentor/showall">Все чуваки</a>
        </li>
        {{#if mentor}}
        <li class="nav-item">
          <a class="nav-link" href="/mentor/{{mentor.id}}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mentor/signout">Log out</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/mentor/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mentor/signin">Sign in</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

 --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Mentors</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<div class="modal fade" id="exampleModalReg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> {{!--   --}}
        <form class="row g-3">
  <div class="col-md-6">
    <label for="email" class="form-label">Электронная почта</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="col-md-6">
    <label for="password" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="col-12">
    <label for="name" class="form-label">ФИО</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="col-12">
    <label for="tel" class="form-label">Контактный телефон</label>
    <input type="text" class="form-control" id="tel">
  </div>
    <div class="col-12">
    <label for="domaim" class="form-label">Сфера деятельности</label>
    <input type="text" class="form-control" id="domaim">
  </div>
    {{!-- <div class="col-12">
    <label for="competencies" class="form-label">Навыки</label>
    <input type="text" class="form-control" id="competencies">
  </div> --}}
    <div class="col-md-6">
    <label for="experience" class="form-label">Опыт</label>
    <input type="text" class="form-control" id="experience">
  </div>
  <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">Загрузить</label>
</div>

  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  </div>
</form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> {{!--   --}}
        <h5 class="modal-title" id="exampleModalLabel">Войти</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Электронная почта</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Пароль</label>
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Send message</button>
      </div>
      
    </div>
  </div>
</div>

        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/mentor/showall" style='position:relative; left:734px'>Менторы</a>
        </li>

        {{#if mentor}}
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/mentor/{{mentor.id}}">Профиль</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/mentor/signout">Выйти</a>
        </li>
        {{else}}
        
        {{/if}}
        <div class='hidder' style ="position: absolute; right:40px">
        <button type="button" class="btn btn-light mx-3" data-bs-toggle="modal" data-bs-target="#exampleModalReg" data-bs-whatever="@fat" style ='margin-left: 800px'>Стать ментором</button>
<button type="button" class="btn btn-light" data-bs-toggle="modal" id='000' data-bs-target="#exampleModal" data-bs-whatever="@fat">Войти</button>
</div>
      </ul>
    </div>

  </div>
</nav>
<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" 
    crossorigin="anonymous"></script>
